/*
 * Milan
 */

.mainBG {
    -fx-background-color: #212529;
    -fx-border-radius: 2em;
    -fx-background-radius: 2em;
    -fx-border-width: 0.2em;
    -fx-border-color: white;
    -fx-padding: 2em;
    -fx-border-insets: 2em;
    -fx-background-insets: 2em;
}

.secondaryBG {
    -fx-background-color: gray;
}

.textLight {
    -fx-text-fill: #f8f9fa;
    /*-fx-font-size: 2em;*/
}

.titleTextLight {
    -fx-text-fill: #f8f9fa;
    /*-fx-font-size: 1.5em;*/
    -fx-font-weight: bold;
}


.btnLight {
    -fx-background-color: #FFEEFF;
    -fx-background-radius: 1em;
}

.acceptBtnTxt {
    -fx-text-fill: #2d8d16;
}
