/* 
    Created on : 22 may. 2022, 14:14:37
    Author     : MMURRAY
*/

.primaryStandoutBG {
    -fx-background-color: #212529;
    -fx-border-radius: 2em;
    -fx-background-radius: 2em;
    -fx-padding: 2em;
    -fx-border-insets: 2em;
    -fx-background-insets: 2em;
}

.secondaryBG {
    -fx-background-color: gray;
}

.titleTextLight {
    -fx-text-fill: #f8f9fa;
    /*-fx-font-size: 1.5em;*/
    -fx-font-weight: bold;
}

.btnDark {
    -fx-background-color: #212529;
    -fx-border-color: white;
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
    -fx-text-fill:#FFEEFF;
}

.btnDarkBT {
    -fx-background-color: #212529;
    -fx-border-color: white;
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
    -fx-text-fill:#FFEEFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.acceptBtnTxt {
    -fx-background-color: #1E88E5;
    -fx-border-color: white;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.txtInput {
    -fx-background-color: #CECECE;
    -fx-text-fill: #212529;
}

.primaryBG {
    -fx-background-color: #212529;
}

.textLight {
    -fx-text-fill: #f8f9fa;
}

.textDark {
    -fx-text-fill: #212529;
}

.btnLight {
    -fx-background-color: #FFEEFF;
    -fx-background-radius: 1em;
    /*-fx-font-size: 16px;*/
    -fx-font-weight: bold;
    -fx-text-fill: #212529;
}

.btnLightBT {
    -fx-background-color: #FFEEFF;
    -fx-background-radius: 1em;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #212529;
}

.userArea {
    -fx-background-color: #FFEEFF;
    -fx-background-radius: 0.75em;    
}

.errorText {
    -fx-text-fill: #e83d3d;
    -fx-font-size: 14px;
}
