/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 may. 2022, 19:03:06
    Author     : MMURRAY
*/

.mainBG {
    -fx-background-color: #212529;
}

.textLight {
    -fx-text-fill: #f8f9fa;
}

.btnLight {
    -fx-background-color: #FFEEFF;
    -fx-background-radius: 1em;
}

.blueRegBtn {
    -fx-background-color: #1E88E5;
    -fx-background-radius: 1em;
}